body, select, button, input{
  background-color: rgb(21,21,21);
  color : rgb(255,255,255);
}

path.domain,
.tick line {
  stroke: white;
}
.tick text {
  fill: white;
}
.strategyParameterLabel {
	color : white;
}

